@mixin font_family($fontname, $filename) {
	@font-face {
	  font-family: $fontname;
	  src: url('../fonts/#{$filename}.ttf') format('truetype');
	}
}

@mixin font_style($size,$height) {
	.font-#{$size}-#{$height} {
		font-size: #{$size}px;
		line-height: #{$height}px;
	}
}

@mixin margin_block($size) {
	.margin-#{$size}px {
		display:block;
		background:transparent;
	  height:#{$size}px;
		padding:0px;
		margin:0px;
	}
}

@mixin add_transition($duration,$type) {
	transition: $duration $type;
	-moz-transition: $duration $type;
	-ms-transition: $duration $type;
	-o-transition: $duration $type;
	-webkit-transition: $duration $type;
}

@mixin style_selection($background,$color) {
	*::-moz-selection {
	   background: $background;
	   background-color: $background;
	   color: $color;
	}

	*::selection {
	   background: $background;
	   background-color: $background;
	   color: $color;
	}
}
