/* --- NORMALIZE, FLEXBOX, ANIMATIONS --- */
@import 'normalize.scss';
@import 'flexboxgrid.scss';
@import 'animate.scss';

/* --- DEFINE VARIABLES --- */
$main-accent: #F20E0C;
$main-dark: #464B56;
$nav-size: 97px;
$currency: "$";
$book_element_width: 410;
$book_element_height: 630;
$book_element_ratio: (($book_element_height / $book_element_width) * 100);
$book_element_padding_raw: ($book_element_ratio)*1%;
$book_element_padding_rounded: round($book_element_padding_raw * 1000) / 1000;

/* --- FONTS --- */
@include font_family("Montserrat-Medium", "Montserrat-Medium");
@include font_family("Montserrat-Bold", "Montserrat-Bold");
@include font_family("Montserrat-ExtraBold", "Montserrat-ExtraBold");
@include font_family("Montserrat-Black", "Montserrat-Black");
@include font_family("Montserrat-Light", "Montserrat-Light");
@include font_family("Montserrat-Regular", "Montserrat-Regular");
@include font_family("PlayfairDisplay-BlackItalic", "PlayfairDisplay-BlackItalic");

h1,h2,h3,h4,h5,h6 {
  font-family: 'PlayfairDisplay-Black', 'Times New Roman', serif;
  font-weight: 900;
}

h1 {
  font-size: 36px;
  line-height: 39px;
}

h2 {
  font-size: 55px;
  line-height: 58px;
}

/* --- GENERAL --- */
body,
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
body * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
html {
    overflow: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
    min-width: 100%;
    height: 100%;
    width: 100%;
    color: $main-dark;
    font-size: 15px;
    line-height: 18px;
    position: relative;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

p,h1,h2,h3,h4,h5,h6 {
    cursor: default;
    margin: 0;
}

a,
a:hover,
a:hover * {
  cursor: pointer;
}

html,a {
    text-decoration: none;
}

html ul {
    padding: 0px;
    margin-left: 16px;
    margin-top: 0px;
    font-size: 21px;
    line-height: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.fit-content {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  display: table;
}

.center-content {
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  border: none;
  outline: none;
}

.master-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.master-container .master-container-padding {
  padding: 0px 30px;
}

.pull-elements-block {
  position: relative;
  display: block;
}

.pull-right {
  float: right;
  clear: none;
}

.pull-left {
  float: left;
  clear: none;
}

.cursor-pointer,
.cursor-pointer * {
  cursor: pointer;
}

/* --- TEXT & FONT --- */
@include font_style("12", "12");
@include font_style("12", "14");
@include font_style("18", "20");
@include font_style("19", "24");

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

/* --- MARGIN BLOCKS --- */
@include margin_block("10");

@include margin_block("15");

@include margin_block("20");

@include margin_block("30");

@include margin_block("60");

@include margin_block("90");

@include margin_block("100");

@include margin_block("200");

/* --- HEADER --- */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99997;
  background: transparent;
  @include add_transition(0.2s, linear);
  padding: 30px 0px;
  font-size: 13px;
  line-height: 13px;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);

  &.scroll-down {
    background: white;
  }

  a {
    color: $main-dark;
    margin-left: 30px;
    @include add_transition(0.3s, ease-in-out);

    &:hover {
      color: $main-accent;
    }
  }

  .header-logo-container {
    z-index: 100;
  }
}

.mobile-nav-trigger {
  display: none;
}

.nav-up {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

/* --- BUTTONS --- */
.main-cta {
  font-family: 'Montserrat-Bold';
  background: $main-accent;
  color: white;
  border-radius: 50px;
  padding: 14px 20px;
  @include add_transition(0.3s, ease-in-out);
}

.main-cta:hover {
  background: $main-dark;
  color: white;
}

.main-cta i {
  margin-left: 10px;
}

/* --- MAIN --- */
main {
  position: relative;
  min-height: calc(100vh - #{$nav-size});
  padding: 0px 0px 0px 0px;
}

.underline {
  width: 100%;
  height: 1px;
  background: $main-dark;
}

/* --- HERO --- */
section.hero {
  position: relative;
  display: block;
  background-image: -moz-linear-gradient( -67deg, rgb(245,247,250) 0%, rgb(195,207,226) 100%);
  background-image: -webkit-linear-gradient( -67deg, rgb(245,247,250) 0%, rgb(195,207,226) 100%);
  background-image: -ms-linear-gradient( -67deg, rgb(245,247,250) 0%, rgb(195,207,226) 100%);

  > .master-container {
    z-index: 2;
  }

  > .hero-delivery-data {
    z-index: 1;
  }

  .hero-container {
    position: relative;
    display: block;
    max-height: calc(100vh - 25vh);

    .hero-content {
      padding-top: calc(#{$nav-size} + 10px);
    }
  }

  .hero-description-container {
    padding-top: 60px;
    z-index: 2;
  }

  .hero-description-text {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-book {
    width: 100%;
    padding-bottom: $book_element_padding_rounded;
    background-color: $main-dark;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-delivery-data {
    position: relative;
    display: block;
    padding: 40px 0px;
    background: #EDEDED;
  }

  .hero-delivery-data p {
    font-family: 'Montserrat-Light';
    font-size: 30px;
    line-height: 30px;

    i {
      margin-right: 5px;
    }
  }
}

/* --- NOVEDADES --- */
section.novedades {
  .master-container-padding {
    padding-right: 0px;
  }

  .novedades-header .underline {
    width: calc(100% - 300px);
    margin-bottom: 2px;
  }

  .novedades-header > * {
    display: inline-block;
    vertical-align: bottom;
  }

  .side-pattern {
    background: transparent;
    height: 100%;
    background-repeat: repeat;
    background-position: left center;
  }

  .book-slider {
    $hover_offset: 20px;

    * {
      @include add_transition(0.2s, linear);
    }

    .book-slider-item {
      width: 20%;
      box-sizing: initial;
      margin-left: 20px;
      padding: $hover_offset 0px;
      margin-top: $hover_offset;

      &:first-of-type {
        padding-left: 20px;
      }

      &:last-of-type {
        padding-right: 20px;
      }

      .book-slider-item-image {
        width: 100%;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          background-color: $main-dark;
        }
      }

      .book-slider-item-data {
        opacity: 1;
        text-align: left;
        margin-top: 10px;

        > div {
          display: inline-block;
          vertical-align: middle;
          max-width: 50%;
        }

        .book-slider-item-data-main {
          .book-title {
            font-size: 18px;
            line-height: 21px;
            color: $main-accent;
            font-family: 'PlayfairDisplay-BlackItalic', 'Times New Roman', serif;
          }

          .book-author {
            color: $main-dark;
            font-family: 'Montserrat-Regular';
          }
        }

        .book-slider-item-data-price {
          position: relative;
          margin-left: 40px;

          .book-price {
            color: $main-dark;
            font-size: 18px;
            line-height: 18px;
            font-family: 'Montserrat-ExtraBold';
          }

          .book-price:before {
            content: $currency;
            font-size: 13px;
            line-height: 13px;
            position: absolute;
            bottom: 2px;
            left: -10px;
          }
        }
      }
    }
  }
}

/* --- AUTORES --- */

section.autores {
  .autores-title {
    font-size: 17vw;
    line-height: 17vw;
    color: $main-accent;
    font-family: 'PlayfairDisplay-Black', 'Times New Roman', serif;
  }

  .autores-title-container {
    position: relative;
    z-index: 10;
  }

  .autores-info-container {
    position: relative;
    margin-top: -60px;
    z-index: 9;

    .author-image-container {
      z-index: 1;

      .author-image {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $main-dark;
        border-radius: 50%;
      }
    }

    .author-quote-container {
      position: relative;
      display: block;
      background: white;
      padding: 30px;
      margin-left: -70px;
      margin-top: 90px;
      z-index: 2;

      .author-quote-content {
        text-align: left;
      }

      .author-quote p {
        font-size: 18px;
        line-height: 30px;
      }

      .author-name {
        margin-top: 15px;
      }

      &:before,
      &:after {
        font-family: 'Montserrat-Black';
        position: absolute;
        font-size: 100px;
        line-height: 100px;
      }

      &:before {
        content: "“";
        top: -40px;
        left: -20px;
      }

      &:after {
        content: "”";
        bottom: -40px;
        right: -20px;
      }
    }
  }
}

/* --- INSTAGRAM FEED --- */

.instagram-feed {
  position: relative;
  display: block;

  .instagram-feed-title {
    background: white;
    padding: 25px 0px;

    a {
      color: $main-dark;
      @include add_transition(0.2s, linear);

      &:hover {
        color: $main-accent;
      }

      >* {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        font-family: 'Montserrat-Bold';
        font-size: 24px;
        line-height: 24px;
      }

      i {
        margin-right: 10px;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  .dots-1-container {
    display: table;
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 10;
  }

  .dots-2-container {
    display: table;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
  }

  #instagram-feed-photos {
    z-index: 9;

    > div {
      padding: 0;
    }
  }
}

/* --- FOOTER --- */

footer {
  padding: 60px 0px;

  .footer-nav {
    a {
      display: table;
      color: $main-dark;
      font-family: 'Montserrat-Bold';
      margin-top: 10px;
      @include add_transition(0.3s, ease-in-out);

      &:hover {
        color: $main-accent;
      }
    }
  }

  .footer-nav ~ .footer-nav a {
    font-family: 'Montserrat-Medium';
  }

  .main-footer-container {
    padding: 30px 0px;
  }

  .newsletter-suscribe-container {
    width: 100%;
    position: relative;
    display: block;

    .suscribe-image {
      position: absolute;
      left: -40px;
      top: -25px;
      max-width: 180px;
      z-index: 10;
    }

    .suscribe-dots {
      position: absolute;
      right: -27px;
      top: 50%;
      transform: translateY(-50%);
    }

    .suscribe-input-container {
      background: $main-dark;
      padding: 36px 20px 36px 40px;
      border-radius: 10px;
      position: relative;
      z-index: 9;

      * {
        font-size: 16px;
        line-height: 15px;
      }

      input {
        border: none;
        outline: none;
      }

      .suscribe-input-content {
        float: right;
        clear: none;
        margin-top: -20px;

        .suscribe-input-email {
          width: 220px;
          background: white;
          padding: 10px 8px;
          border-radius: 10px 0px 0px 10px;
          color: $main-dark;
        }

        .suscribe-input-button {
          background: $main-accent;
          padding: 12px 8px;
          border-radius: 0px 10px 10px 0px;
          color: white;
          font-family: 'Montserrat-Bold';

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .underline {
    background: #ededed;
  }

  .subfooter {
    position: relative;
    background: white;
    padding-top: 30px;

    a {
      display: inline-block;
      margin-right: 20px;
      font-size: 12px;
      line-height: 15px;
      color: $main-dark;

      @include add_transition(0.3s, ease-in-out);

      &:hover {
        color: $main-accent;
      }
    }

    .powered-by {
      display: contents;

      * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

/* --- MEDIA QUERIES --- */
@media all and (max-width: 1220px) {
  footer .newsletter-suscribe-container
  .suscribe-input-container
    .suscribe-input-content
    .suscribe-input-email {
      width: 190px;
  }
}

@media all and (max-width: 1140px) {
  section.hero {
    .hero-delivery-data p {
      font-size: 25px;
      line-height: 25px;
    }
  }

  footer {
    .newsletter-suscribe-container {
      .suscribe-image {
        top: -14px;
        max-width: 140px;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  nav {
    a {
      margin-left: 15px;
    }
  }
}

@media all and (max-width: 1070px) {
  footer {
    .newsletter-suscribe-container {
      .suscribe-image {
        top: -7px;
        max-width: 130px;
      }

      .suscribe-input-container {
        .suscribe-input-content {
          .suscribe-input-email {
            width: 170px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  section.hero {
    .hero-container {
      max-height: none;
      height: auto;
      padding-bottom: 60px;
    }
  }

  .instagram-feed {
    .dots-1-container,
    .dots-2-container {
      display: none;
    }

    .instagram-feed-margin-end {
      height: 30px;
    }
  }

  footer {
    .main-footer-container {
      .footer-logo-container {
        margin-bottom: 60px;
        display: none;
      }

      img {
        max-width: 70px;
        margin: 0 auto;
      }
    }

    .newsletter-suscribe-container {
      .suscribe-dots {
        display: none;
      }

      .suscribe-input-container .suscribe-input-content .suscribe-input-email {
        width: 230px;
      }
    }

    .subfooter a {
      display: block;
      margin-top: 15px;
    }

    .powered-by-container {
      margin-top: 40px;
    }
  }
}

@media all and (max-width: 970px) {
  section.hero {
    .hero-description-text {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media all and (max-width: 950px) {
  header .nav-container {
    display: none;
  }

  .mobile-nav-trigger {
    display: block;
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 8.33%;
    font-size: 30px;
    line-height: 30px;
    color: $main-dark;
  }

  header {
    .nav-container {
      display: block;
      background: white;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: -110vh;
      left: 0;
      @include add_transition(0.3s, ease-in-out);

      nav {
        width: 70vw;
        text-align: left;
        display: table;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
          display: block;
          margin: 30px 0px;
          font-size: 16px;
          line-height: 16px;

          &:hover {
            color: $main-dark;
          }
        }

        .main-cta {
          background: none;
          color: $main-dark;
          padding: 0px;
        }
      }
    }

    &.mobile .nav-container {
      top:0;
    }
  }

  footer .newsletter-suscribe-container
  .suscribe-input-container
    .suscribe-input-content
    .suscribe-input-email {
      width: 210px;
  }
}

@media all and (max-width: 900px) {
  footer .newsletter-suscribe-container
  .suscribe-input-container
    .suscribe-input-content
    .suscribe-input-email {
      width: 190px;
  }
}

@media all and (max-width: 870px) {
  footer .newsletter-suscribe-container
  .suscribe-input-container
    .suscribe-input-content
    .suscribe-input-email {
      width: 170px;
  }
}

@media all and (max-width: 850px) {
  section.hero {
    .hero-description-container {
      padding-top: 10px;
    }

    .hero-container {
      .hero-content {
        padding-top: calc(#{$nav-size} + 30px);
      }
    }
  }

  footer .newsletter-suscribe-container
  .suscribe-input-container
  .suscribe-input-content
  .suscribe-input-email {
    width: 160px;
  }
}

@media all and (max-width: 815px) {
  footer .newsletter-suscribe-container
  .suscribe-input-container
    .suscribe-input-content
    .suscribe-input-email {
      width: 140px;
  }
}

@media all and (max-width: 767px) {
  h1, h2 {
    font-size: 30px;
    line-height: 33px;
  }

  section.hero {
    .hero-container .hero-content {
      padding-top: calc(#{$nav-size} + 60px);
    }

    .hero-description-container {
      margin-top: 30px;
    }
  }

  section.novedades {
    .book-slider {
      .book-slider-item {
        width: 33%;
        text-align: center;

        .book-slider-item-data {
          * {
            text-align: center;
            display: table !important;
            margin: 0 auto !important;
          }

          >div {
            max-width: none;
          }
        }

        .book-slider-item-data-main .book-title {
          font-size: 15px !important;
          line-height: 15px !important;
        }

        .book-slider-item-data-main .book-author {
          font-size: 13px !important;
          line-height: 15px !important;
        }

        .book-slider-item-data-price {
          margin-top: 4px !important;
        }
      }
    }

    .novedades-header {
      h2 {
        display: table !important;
        margin: 0 auto;
      }

      .underline {
        display: none !important;
      }
    }

    .margin-200px {
      height: 60px;
    }
  }

  section.autores {
    .autores-info-container {
      .author-quote-container {
        margin-top: 30px;
        margin-left: 0;

        &:before,
        &:after {
          font-size: 60px !important;
          line-height: 60px !important;
        }

        &:before {
          top: -10px;
          left: -20px;
        }

        &:after {
          bottom: -10px;
          right: 10px;
        }

        .author-quote p {
          font-size: 15px;
          line-height: 26px;
        }
      }
    }
  }

  .instagram-feed {
    .instagram-feed-title {
      text-align: center;
    }
  }

  footer {
    padding: 30px 0px;

    .main-footer-container {
      .footer-nav {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        margin-left: 0px;
      }

      .newsletter-suscribe-container-wrapper {
        margin-top: 30px;
        -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
        max-width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    .newsletter-suscribe-container {
      width: 100%;

      flex-basis: 100%;
      max-width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);

      .suscribe-image {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 120px;
      }

      .suscribe-input-container {
        width: 100%;
        padding: 120px 0px 80px 0px;
        margin-top: 60px;

        .suscribe-input-content {
          width: 90%;
          margin-right: 50%;
          transform: translateX(50%);
          display:block;

          .suscribe-input-email {
            width: 100%;
            padding: 10px 0px;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
          }

          .suscribe-input-button {
            width: 100%;
            padding: 12px 8px;
            border-radius: 0px 0px 10px 10px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  section.novedades {
    .book-slider {
      .book-slider-item {
        .book-slider-item-data {
          opacity: 0;
          text-align: left;
          margin-top: 0px;
        }

        &:hover {
          * {
            cursor: pointer;
          }

          .book-slider-item-image {
            margin-top: -25px;

            img {
              -webkit-box-shadow: 0px 15px 25px 0px rgba(59,32,32,0.3);
              -moz-box-shadow: 0px 15px 25px 0px rgba(59,32,32,0.3);
              box-shadow: 0px 15px 25px 0px rgba(59,32,32,0.3);
            }
          }

          .book-slider-item-data {
            opacity: 1;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 530px) {
  section.hero {
    .hero-delivery-data p {
      font-size: 18px;
      line-height: 18px;
    }
  }

  section.novedades {
    .book-slider {
      .book-slider-item {
        width: 55%;
      }
    }

  }
}
