<!doctype html>
<html>
<head>
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>

<header>
  <div class="master-container">
    <div class="master-container-padding">
      <div class="row middle-xs">
        <div class="col-xs-6 col-sm-3 col-sm-offset-1 header-logo-container">
          <img src="" id="site-logo" alt="Editorial logotype">
        </div>

        <div class="col-xs-7 end-xs">
          <div class="nav-container">
            <nav>
              <a href="#">Ancla 1</a>
              <a href="#">Ancla 2</a>
              <a href="#">Ancla 3</a>
              <a href="#">Ancla 4</a>
              <a href="#">Ancla 5</a>
              <a href="#" class="main-cta">Mi carrito <i class="fas fa-shopping-basket"></i> <span id="cart-counter">8</span></a>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-nav-trigger cursor-pointer">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>

<main>
  <section class="hero">
    <div class="master-container">
      <div class="master-container-padding">
        <div class="hero-container">
          <div class="hero-content">
            <div class="row top-xs start-md center-xs">
              <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-1">
                <div class="hero-description-container">
                  <h1>Libro Destacado</h1>
                  <div class="margin-20px"></div>
                  <div class="underline"></div>
                  <div class="margin-20px"></div>
                  <p class="hero-description-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                  </p>
                  <div class="margin-30px"></div>
                  <a href="#" class="main-cta">Comprar <i class="fas fa-shopping-basket"></i></a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-1 last-md first-xs">
                <div class="hero-book" id="hero-book" alt="Libro Destacado en Editorial">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-delivery-data">
      <div class="master-container">
        <div class="master-container-padding">
          <div class="row start-lg center-xs">
            <div class="col-xs-10 col-lg-10 col-lg-offset-1">
              <p><i class="fas fa-truck"></i> Envío gratis a todo el país</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="novedades">
    <div class="margin-200px"></div>

    <div class="master-container">
      <div class="master-container-padding">
        <div class="row">
          <div class="col-lg-2 hidden-xs">
            <div class="side-pattern"></div>
          </div>

          <div class="col-xs-12 col-lg-9 col-lg-offset-1 start-xs">
            <div class="novedades-header">
              <h2>Novedades</h2>
              <div class="underline"></div>
            </div>

            <div class="margin-30px novedades-margin-after-title"></div>

            <div class="book-slider">
              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-1">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">GAM7</p>
                      <a href="#book-author" class="book-author">RIO Creative</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">215</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-2">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">Tom Jones</p>
                      <a href="#book-author" class="book-author">Henry Fielding</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">180</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-3">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">Hoàng Hôn Màu Đỏ</p>
                      <a href="#book-author" class="book-author">Hoàng Khánh Duy</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">344</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-4">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">Đêm Nguyệt Bạch</p>
                      <a href="#book-author" class="book-author">Nhà Xuất Bản Trẻ</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">310</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-5">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">Trăm năm cô đơn</p>
                      <a href="#book-author" class="book-author">Gabriel G. Márquez</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">610</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-6">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">The Goldfinch</p>
                      <a href="#book-author" class="book-author">Donna Tartt</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">430</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-7">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">1984</p>
                      <a href="#book-author" class="book-author">George Orwell</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">369</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="book-slider-item">
                <a href="#book">
                  <div class="book-slider-item-image">
                    <img class="book-image-8">
                  </div>
                  <div class="book-slider-item-data">
                    <div class="book-slider-item-data-main">
                      <p class="book-title">El Hombre Equivocado</p>
                      <a href="#book-author" class="book-author">John Katzenbach</a>
                    </div>
                    <div class="book-slider-item-data-price">
                      <p class="book-price">550</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="autores">
    <div class="margin-100px"></div>

    <div class="master-container">
      <div class="master-container-padding">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row autores-title-container">
              <div class="col-xs-offset-1">
                <p class="autores-title">Autores</p>
              </div>
            </div>

            <div class="row middle-xs center-xs start-md autores-info-container">
              <div class="col-md-4 col-xs-8 author-image-container">
                <img class="author-image">
              </div>
              <div class="col-md-8 col-xs-12 author-quote-container">
                <div class="author-quote-content">
                  <div class="author-quote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                  </div>
                  <div class="author-name">
                    <h1>Laura Vallejos</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="instagram-feed">
    <div class="margin-100px"></div>

    <div class="master-container">
      <div class="master-container-padding">
        <div class="row instagram-feed-title">
          <div class="col-xs-10 col-xs-offset-1">
            <a href="https://www.instagram.com/<%= htmlWebpackPlugin.options.custom_vars.social_instagram %>/" target="_blank"><i class="fab fa-instagram"></i> <span>Instagram</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="dots-1-container">
      <img class="dots-1">
    </div>

    <div class="dots-2-container">
      <img class="dots-2">
    </div>

    <div class="row" id="instagram-feed-photos"></div>

    <div class="margin-100px instagram-feed-margin-end"></div>
  </section>
</main>

<footer>
  <div class="master-container">
    <div class="master-container-padding">
      <div class="row middle-xs main-footer-container">
        <div class="col-lg-1 col-lg-offset-1 col-xs-12 footer-logo-container">
          <img id="footer-logo">
        </div>

        <div class="col-lg-1 col-xs-offset-1 col-xs-2 footer-nav">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
          <a href="#">Link 4</a>
        </div>

        <div class="col-lg-1 col-xs-2 footer-nav">
          <a href="#">Link 5</a>
          <a href="#">Link 6</a>
          <a href="#">Link 7</a>
          <a href="#">Link 8</a>
        </div>

        <div class="col-lg-5 col-xs-offset-1 col-xs-6 newsletter-suscribe-container-wrapper">
          <div class="newsletter-suscribe-container">
            <img class="suscribe-image">
            <div class="suscribe-input-container">
              <div class="suscribe-input-content fit-content">
                <input type="email" class="suscribe-input-email" placeholder="Su e-mail">
                <input type="submit" value="Enviar" class="suscribe-input-button">
              </div>
            </div>
            <img class="suscribe-dots">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-xs-12 col-sm-12 col-sm-offset-1">
          <div class="underline"></div>
        </div>
      </div>

      <div class="row start-xs center-xs subfooter">
        <div class="col-lg-7 col-xs-offset-1 col-xs-12">
          <a href="#">Condiciones de venta de productos</a>
          <a href="#">Política de privacidad</a>
          <a href="#">Todos los derechos reservados</a>
        </div>
        <div class="col-lg-3 end-lg col-xs-12 powered-by-container">
          <a href="https://socialsnack.com/" target="_blank" class="powered-by">Powered by <img id="socialsnack-logo"></img></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
